<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="com.mintest.board.vo.UserVo" alias="UserVo"/>
  	<typeAlias type="com.mintest.board.vo.BoardVo" alias="BoardVo"/>
  </typeAliases>
  <mappers>
    <mapper resource="com/mintest/board/mybatis/mapper/UserMapper.xml"/>
    <mapper resource="com/mintest/board/mybatis/mapper/BoardMapper.xml"/>
  </mappers>
</configuration>